{%extends 'staff/layout/base.html' %}


{% block js %}
<script src="{{ url_for('static', filename='js/staff/staff.js') }}"></script>
{% endblock %}

{% block content%}
<div class="row m-0 vw-100 mt-5 d-flex justify-content-evenly">
    <a href="/staff/rent/reservations" class="col-3 py-5 px-3 btn btn-light btn-lg" role="button" style="background-color: #8db8b6; color:  white">Đã đặt phòng</a>
    <a href="/staff/booking" class="col-3 py-5 px-3 btn btn-light btn-lg" role="button" style="background-color:#8db8b6; color: white">Chưa đặt phòng</a>
</div>
{% endblock %}