{%extends 'staff/layout/base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center text-success w-100 m-4 p-3 pb-1 display-5 font-title">WELCOME TO STAFF CYON HOTEL WEBSITE</h1>
  <img src="https://media.istockphoto.com/id/1136152464/vi/vec-to/nh%C3%A2n-vi%C3%AAn-l%E1%BB%85-t%C3%A2n-kh%C3%A1ch-s%E1%BA%A1n-%E1%BB%9F-s%E1%BA%A3nh-t%E1%BA%A1i-qu%E1%BA%A7y-l%E1%BB%85-t%C3%A2n.jpg?s=612x612&w=0&k=20&c=_DjsGdIvjaGt3HpwgNQmmBUziz0cuRhK1SNDun8n4cE=" class="mx-auto d-block">
</div>
{% endblock %}