
<div id="footer" class="container-fluid mx-auto mt-5 p-3 my-bg rounded-top">
    <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 my-3 col-12 px-4 d-flex">
            <div class="h4 font-title fw-bold my-auto">Cyon Hotel</div>
        </div>
        <div class="col-md-4 my-3 col-12 px-4 text-end">
            <div class="h6">Contact Us:</div>
            <div class="h6">(+84)868609057</div>
            <div class="h6">Cyonhotel@gmail.com</div>
        </div>

    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-12 text-center">
            <p>&copy; 2023 Cyon Hotel . All rights reserved.</p>
        </div>
    </div>
</div>