<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container-fluid">
        <a class="navbar-brand h1 text-uppercase font-title" href="#">
            Cyon Hotel
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-uppercase my-nav-expand" id="collapsibleNavbar">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item py-lg-0 py-sm-6 d-flex">
                    <a class="nav-link py-0 my-auto" href="/staff">Trang chủ</a>
                </li>
                <li class="nav-item py-lg-0 py-sm-6 d-flex">
                    <a class="nav-link py-0 my-auto" href="/staff/booking">Đặt phòng</a>
                </li>
                <li class="nav-item py-lg-0 py-sm-6 d-flex">
                    <a class="nav-link py-0 my-auto" href="/staff/rent">Lập phiếu thuê</a>
                </li>
                <li class="nav-item py-lg-0 py-sm-6 d-flex">
                    <a class="nav-link py-0 my-auto" href="/staff/paypal">Thanh toán</a>
                </li>
                <li class="nav-item py-lg-0 py-sm-6 d-flex">
                    <a class="nav-link py-0 my-auto" href="javascript:;" onclick="logoff()">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
</nav>